.navigation-desktop {
    height: fit-content;
    font-size: 1.25rem;
    font-weight: 500;
}

.navigation-desktop > * {
    z-index: 1;
}

.navigation-desktop a {
    position: relative;
    transition: 0.2s all ease-in 0.3s;
    width: fit-content;
    letter-spacing: 1px;
    color: var(--text);
}

.navigation-desktop a::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    transform: rotate(-2.5deg) skewX(-15deg);
    transition: 0.3s width ease;
    transform-origin: left;
    margin: auto;
    background: var(--primary);
    width: 0%;
    height: 3px;
    content: "";
}

a.active::after {
    width: 100%;
}
.navigation-desktop a:hover {
    color: var(--primary);
}
.navigation-desktop a:hover::after {
    width: 100%;
}

.primary {
    color: var(--primary);
    font-weight: 700;
}