.home__container {
    width: min-content;

    @media screen and (max-width: 767px) {
        width: 80%;
    }
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.home__container h1 {
    margin-bottom: 1rem;
    width: max-content;
    color: var(--text);

    i {
        /* font-style: normal;
        animation: slant 0.5s forwards 1s; */
        margin-right: 5px;
        margin-left: -5px;

        @media screen and (max-width: 768px) {
            margin-right: unset;
            /* margin-left: unset; */
        }
    }
}

.home__container p {
    color: var(--text);
    text-align: left;
    letter-spacing: 1px;
    line-height: 2.5rem;
    font-size: 1.2rem;

    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    a {
        position: relative;
    }

    a::after {
        position: absolute;
        bottom: -3px;
        right: 0;
        left: 0;
        transform: rotate(-1deg);
        margin: auto;
        background: var(--secondary);
        width: 100%;
        height: 3px;
        content: "";
    }
}

.gradient-header {
    background-color: var(--text);
    
    background-image: linear-gradient(176deg, var(--text) 25%, var(--secondary) 90%);
    
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
  
@keyframes slant {
    0% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(-10deg);
    }
}