.work-single__media {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);

    video,
    img {
        width: 100%;
        object-fit: cover;
        object-position: center top;
    }
}


.work-single h1 {
    margin-bottom: 0.5rem;
    color: var(--text);
    text-align: left;
    font-weight: 500;
}

.work-single p {
    color: var(--text);
    text-align: left;
    letter-spacing: 1px;
    line-height: 2rem;
    font-size: 1rem;
}

.work-single__frameworks li {
    display: inline;
    position: relative;
    color: var(--text);
    letter-spacing: 1px;

    &:not(:last-of-type) {
        margin-right: 1.5rem;
    }
    &:not(:last-of-type)::after {
        position: absolute;
        right: -1rem;
        bottom: 0;
        margin: auto;
        content: '/';
        line-height: 1;
    }
}
.work-single__examples {
    display: flex;
    gap: 1rem;
}
.work-single__example {
    display: inline-block;
    padding: 0.25rem;
    width: 42px;
    height: 42px;
}
.work-single__example svg,
.work-single__example path {
    transition: all .3s ease;
    width: auto;
    height: 100%;
    fill: var(--secondary) !important;
}
.work-single__example:hover svg,
.work-single__example:hover path {
    fill: var(--primary) !important;
}