@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --primary: #ea5311;
  --secondary: #ef6684;
  --text: rgb(226, 207, 181);
  --bg: #27353d;
  --workBg1: #2b3248;
  --workBg2: #16223d;
  --workBg3: #343e51;
  --workBg4: #013a59;
  --overlay: rgba(39, 53, 61, 0.85);
  --font-header: 'Montserrat', sans-serif;
  --font-body: 'Karla', sans-serif;
  --divider: #999999;
  --border: rgba(127, 127, 127, 0.25);
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.light {
  --secondary: #ef2551;
  --text: rgb(68, 68, 68);
  --bg: #f1f1f1;
  --overlay: rgba(242, 242, 242, 0.85);
  --workBg1: #f6f6f6;
  --workBg2: #eeeeee;
  --workBg3: #f1f1f1;
  --workBg4: #ececec;
  --border: rgba(127, 127, 127, 0.25);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
}

a {
  text-decoration: none;
  color:  var(--text);
}

a:hover {
  color:  var(--primary);
}


button:focus,
button:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 5px;
}

main {
  position: relative;
  transition: all .4s ease;
  background: var(--bg);
  background-image: radial-gradient(var(--bg), rgba(0,0,0,.15));
  overflow: hidden;
}

.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background .35s ease-in;
  padding: 1rem;
  /* background: var(--bg); */
  width: 100vw;
  height: fit-content;
  min-height: 100vh;

  @media screen and (max-width: 320px) {
    align-items: flex-start;
    padding: 100px 1rem 2rem;
  }
}

/* .section:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.4;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
} */
/* .light {
  .section::before {
      opacity: 0.6;
  }
} */
