@import 'tailwindcss';

:root {
  --primary: #ea5311;
  --secondary: #ef6684;
  --text: rgb(226, 207, 181);
  --bg: #27353d;
  --workBg1: #2b3248;
  --workBg2: #16223d;
  --workBg3: #343e51;
  --workBg4: #013a59;
  --overlay: rgba(39, 53, 61, 0.85);
  --font-header: 'Montserrat', sans-serif;
  --font-body: 'Karla', sans-serif;
  --divider: #999999;
  --border: rgba(127, 127, 127, 0.25);
  width: 100vw;
  height: fit-content;
  text-align: center;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.light {
  --secondary: #ef2551;
  --text: rgb(68, 68, 68);
  --bg: #f1f1f1;
  --overlay: rgba(242, 242, 242, 0.85);
  --workBg1: #f6f6f6;
  --workBg2: #eeeeee;
  --workBg3: #f1f1f1;
  --workBg4: #ececec;
  --border: rgba(127, 127, 127, 0.25);
}

* {
  /* padding: 0; */
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
}

a {
  /* text-decoration: underline; */
  color:  var(--text);
}

a:hover {
  color:  var(--primary);
}


button:focus,
button:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 5px;
}

main {
  position: relative;
  transition: all .35s ease-in;
  background: var(--bg);
  background-image: radial-gradient(var(--bg), rgba(0,0,0,.15));
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background .35s ease-in;
  padding: 1rem;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;

  @media screen and (max-width: 320px) {
    align-items: flex-start;
    padding: 100px 1rem 2rem;
  }
}

@media (prefers-color-scheme: dark) {
    body {
        color: var(--text);
        background: var(--bg);
    }
}
@media (prefers-color-scheme: light) {
    body {
        color: var(--text);
        background: var(--bg);
    }
}